:root {
  --background-color: black;
  --primary-color: rgb(48, 48, 48);
  --secondary-color: rgb(35, 95, 156);
  --accent-color: green;
  --text-color: white;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15pt;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  color: var(--accent-color);
  text-shadow: 0px 0px 10px var(--accent-color);
}

.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#todo-input {
  box-sizing: border-box;
  padding: 12px 20px;
  width: 100%;
  background: none;
  border-radius: 1000px;
  font: inherit;
  color: var(--text-color);
  caret-color: var(--accent-color);
}
form {
  position: relative;
}

#todo-input:focus {
  outline: none;
}

#add-button {
  position: absolute;
  right: 0;
  top: 0;

  height: 100%;
  padding: 0 30px;

  background: var(--accent-color);
  color: black;
  border: none;
  border-radius: 1000px;

  font: inherit;
  font-weight: 700;

  cursor: pointer;

  box-shadow:
    0 0 5px var(--accent-color),
    0 0 15px var(--accent-color),
    0 0 30px var(--accent-color);

  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
}

#add-button:hover {
  transform: scale(1.05);

  box-shadow:
    0 0 10px var(--accent-color),
    0 0 25px var(--accent-color),
    0 0 50px var(--accent-color),
    0 0 80px var(--accent-color);
}

#add-button:active {
  transform: scale(0.92);

  box-shadow:
    0 0 5px var(--accent-color),
    0 0 10px var(--accent-color);
}

.todo {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 15px;
}

.todo .todo-text {
  padding: 15px;
  padding-right: 0;
  flex-grow: 1;
  transition: 0.2s ease;
}

.delete-button {
  padding: 5px;

  background: none;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  color: white;

  transition:
    color 0.2s ease,
    transform 0.2s ease,
    filter 0.2s ease;
}
.delete-button:hover {
  color: red;

  transform: scale(1.2);

  filter: drop-shadow(0 0 5px red) drop-shadow(0 0 15px red);
}

.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-height: 20px;
  min-width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: transparent;
  transition: 0.2s ease;
  cursor: pointer;
}

.delete-button:active {
  transform: scale(0.75) rotate(-15deg);

  color: red;

  filter: drop-shadow(0 0 10px red) drop-shadow(0 0 25px red);
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
  color: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text {
  text-decoration: line-through;
  color: var(--secondary-color);
}
input[type="checkbox"] {
  display: none;
}

@media (max-width: 500px) {
  html {
    font-size: 12pt;
  }
  #add-button {
    padding: unset;
    width: 100px;
    margin-top: 10px;
    padding: 15px;
    height: auto;
  }

  h1 {
    margin-top: 50px;
    font-size: 15vw;
  }
}
